# Backend (Java/Maven)
backend/target/
backend/*.jar
backend/*.war
backend/*.ear
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.idea/
backend/*.iml
frontend/.env


# Frontend (Node.js) - on ajoutera plus tard
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log